.hvr-rectangle-in {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    background: #2098D1;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .hvr-rectangle-in:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #e1e1e1;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-rectangle-in:hover, .hvr-rectangle-in:focus, .hvr-rectangle-in:active {
    color: white;
  }
  .hvr-rectangle-in:hover:before, .hvr-rectangle-in:focus:before, .hvr-rectangle-in:active:before {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
.slide-container{
	background-color: #382aef;
    border-color: #382aef;
	width: 100%;
	height: 110px;
	margin-bottom: 50px;
}
.back-img{
    padding: 17px;

}
.back-img .save-btn{
	float: right;

}
.slide-container{
	background-color: #382aef;
    border-color: #382aef;
	width: 100%;
	height: 110px;
	margin-bottom: 50px;
}
.back-img{
    padding: 17px;

}
.back-img .save-btn{
	float: right;

}
.back-img .save-btn a{
		color: rgb(255, 255, 255) !important;
    border-color: rgb(255, 255, 255) !important;
    box-shadow: rgb(255 255 255) 0px 0px 0px 0px inset !important;
    border: 1px solid #333;
    box-shadow: #333 0 0px 0px 0px inset;
    display: inline-block;
    padding: 10px 17px;
    text-align: center;
    transition: all 500ms cubic-bezier(0.39,0.5,0.15,1.36);
}
.back-img img{
	    width: 7%;
}
.slide-txt{

	    transform: translate(132px, -96px);
	    color: #fafafa !important;


}
.slide-txt a{
	    font-size: 25px;
}
.slide-txt p{
	font-size: 17px;
}
.save-btn{

    transform: translate(0px, -60px);
    width: 10%;
    cursor: pointer !important;


}
.save-btn a{
	cursor: pointer;
}
.main-bann{
	margin-top: 40px;
    max-width: 1248px;
    align-items: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 250px;
    margin-bottom: 40px;
}
.middle-bann{
      transform: translate(349px, -250px);
    width: 66%;
    height: 100%;

}
.middle-bann img{
	width: 100%;
    height: 100%;
}
.left-bann{
	background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
    display: block;
    flex-grow: 1;
}
.left-txt{
	    width: 350px;
	    padding: 25px;

}
.left-txt h4{
	margin-top: 5px;
	font-size: 23px !important; 

}
.save-btn2{
	margin-top: 15px;
    width: 35%;
    cursor: pointer;
}
.save-btn2 {
    border: 1px solid #fff;
    box-shadow: #333 0 0px 0px 0px inset;
    display: inline-block;}
    .main-bann4{
        width: 117%;
        margin-top: 40px;
        align-items: stretch;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        height: 370px;
        margin-bottom: 40px;
        transform: translate(-89px, 10px);
    
    }
    .middle-bann4{
        transform: translate(357px, -227px);
        height: 101%;
        width: 71%;
    }
    .middle-bann4 img{
        height: 99%;
    }
    .left-bann4{
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 2px;
        display: block;
        flex-grow: 1;
        background-color: #0e4a6c !important;
    }
    .left-txt4{
            width: 350px;
            padding: 25px;
            color: #fff;
    
    }
    .left-txt4 h4{
        color: #fff;
        margin-top: 5px;
        font-size: 3.4rem;
    
    }
    .left-txt4 p{
        font-size: 1.6rem;
        color: #fff;
    }
    .save-btn4{
        margin-top: 15px;
        width: 33%;
        cursor: pointer;
    }
    .save-btn4 a{
        border: 1px solid #333;
        box-shadow: #000 0 0px 0px 0px inset;
        display: inline-block;
        padding: 10px 17px;
        text-align: center;
        transition: all 500ms cubic-bezier(0.39,0.5,0.15,1.36);
        color: rgb(0, 0, 0);
        border-color: #fff;
        box-shadow: rgb(0 0 0) 0px 0px 0px 0px inset;
    }
.back-img .save-btn a{
		color: rgb(255, 255, 255) !important;
    border-color: rgb(255, 255, 255) !important;
    box-shadow: rgb(255 255 255) 0px 0px 0px 0px inset !important;
    border: 1px solid #333;
    box-shadow: #333 0 0px 0px 0px inset;
    display: inline-block;
    padding: 10px 17px;
    text-align: center;
    transition: all 500ms cubic-bezier(0.39,0.5,0.15,1.36);
}
.back-img img{
	    width: 7%;
}
.slide-txt{

	    transform: translate(132px, -96px);
	    color: #fafafa !important;


}
.slide-txt a{
	    font-size: 25px;
}
.slide-txt p{
	font-size: 17px;
}
.save-btn{
	    transform: translate(-15px, -60px);

}
.save-btn a{
	cursor: pointer;
}
.main-bann{
	margin-top: 40px;
    max-width: 1448px;
    align-items: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 250px;
    margin-bottom: 40px;
}
.middle-bann{
     width: 469px;
    transform: translate(352px, -248px);
}
.left-bann{
	background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
    display: block;
    flex-grow: 1;
}
.left-txt{
	    
	    padding: 25px;

}
.left-txt h4{
	margin-top: 5px;
	font-size: 23px !important; 

}
.save-btn2{
	margin-top: 15px;
}
.save-btn2 {
    border: 1px solid #333;
    box-shadow: #333 0 0px 0px 0px inset;
    display: inline-block;
    
    text-align: center;
    transition: all 500ms cubic-bezier(0.39,0.5,0.15,1.36);
    color: rgb(0, 0, 0);
    border-color: rgb(0, 0, 0);
    box-shadow: rgb(0 0 0) 0px 0px 0px 0px inset;
}
.main-bann2{
	margin-top: 40px;
    max-width: 1448px;
    align-items: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 250px;
    margin-bottom: 40px;
}


.middle-bann2{
        width: 673px;
    transform: translate(352px, -207px);
    height: 246px;
}
.middle-bann2 img{
	    height: 245px;
}
.left-bann2{
	background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
    display: block;
    flex-grow: 1;
}
.left-txt2{
	    width: 350px;
	    padding: 25px;

}
.left-txt2 h4{
	margin-top: 5px;
	font-size: 23px !important; 

}
.save-btn3{
	margin-top: 15px;
}
.save-btn3 a{
    border: 1px solid #333;
    box-shadow: #333 0 0px 0px 0px inset;
    display: inline-block;
    padding: 10px 17px;
    text-align: center;
    transition: all 500ms cubic-bezier(0.39,0.5,0.15,1.36);
    color: rgb(0, 0, 0);
    border-color: rgb(0, 0, 0);
    box-shadow: rgb(0 0 0) 0px 0px 0px 0px inset;
}
.img-main-container{
	width: 100%;
	height: 100%;

}
.img-main{
	float: right;
	width: 25%;
	height: 100%;
}
.img-main-size{
	height: 100%;
	width: 100%;
}
/* Rectangle In */
.hvr-rectangle-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  background:  rgb(89, 46, 19);
  border-color: rgb(89, 46, 19);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-rectangle-in:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #FBCD25;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-rectangle-in:hover, .hvr-rectangle-in:focus, .hvr-rectangle-in:active {
  color: white;
}
.hvr-rectangle-in:hover:before, .hvr-rectangle-in:focus:before, .hvr-rectangle-in:active:before {
  -webkit-transform: scale(0);
  transform: scale(0);
}
.owl-simple .owl-nav .owl-prev {
    left: -40px;
}
.owl-simple .owl-nav .owl-next {
    right: -30px;
}